<div ng-controller="LoginController">
    <div id="image">
        <img src="assets/images/login_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo">
            <img src="assets/images/logo.png" alt="">
            <span>Halı Saha</span>
        </div>
        <div id="login-form" style="margin-top: 80px;">
            <form action="" onsubmit="return false;">
                <div class="form-group">
                    <input type="username" ng-model="username" class="form-control" id="username" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="password" class="form-control" id="pwd" placeholder="Parola">
                    <div class="checkbox col-xs-12">
                        <label>
                            <input type="checkbox" ng-model="check" ng-change="remember()">Beni Hatırla</label>
                    </div>
                    <button type="submit" ng-click="Login()" class="btn-login col-xs-12 login-button-action">Giriş Yap</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" ng-click="close()">&times;</span>
        <p>Kullanıcı adı veya şifre hatalı</p>
    </div>
</div>
