body {
    background-color: #121518;
    font-family: "San Francisco";
    font-weight: 200;
    -webkit-overflow-scrolling: touch;
    color: #fff;
}

#image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 1;
}

.container {
    z-index: 2;
    position: relative;
}

#logo {
    margin-top: 120px;
    text-align: center;
}

#logo img {
    max-width: 50%;
    display: block;
    margin: 10px auto;
}

#logo span {
    color: #fff;
    font-size: 36px;
}

#checkbox {
    text-align: center;
    display: block;
    position: relative;
}

.btn-login {
    background-color: #007f39;
    border: none;
    color: #fff;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.form-control {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8e8f8e;
    border-radius: 0;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}

.checkbox {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logo-main {
    margin-top: 40px;
    text-align: center;
}

#logo-main img {
    max-width: 40%;
    display: block;
    margin: 10px auto;
}

#user img {
    max-width: 35%;
    display: block;
    margin: 25px auto;
    margin-bottom: 10px;
}

#user h1 {
    display: block;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

#user span {
    display: block;
    color: #007f39;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

#content {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#content img {
    width: 100%;
    display: block;
}

#content .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

#content .text .title {
    margin: 15px 0 20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

#content .text .title span {
    border-bottom: 1px solid #fff;
}

#content .text p {
    font-weight: 300;
    margin: 0;
}

#content .text .day {
    font-size: 100px;
    line-height: 85px;
}

#content .text .month {
    font-size: 50px;
    line-height: 55px;
}

#content .text .year {
    font-size: 25px;
    line-height: 35px;
}

.status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 220px;
}

.status button {
    font-size: 20px;
    text-align: right;
    background: transparent;
    outline: none;
    border: none;
    padding: 20px;
}

.status select {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    font-size: 24px;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.status-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    color: #42fd4a;
    font-size: 30px;
}


/* The navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 200px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 170px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.menubutton {
    position: absolute;
    margin-top: 40px;
}

.menubutton img {
    width: 50%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    color: #313131;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content p {
    margin-top: 10px;
}


/* The Close Button */

.close {
    color: #313131;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
