body {
    background-color: #121518;
    font-family: "San Francisco";
    font-weight: 200;
    -webkit-overflow-scrolling: touch;
    color: #fff;
}

#image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 1;
}

.container {
    z-index: 2;
    position: relative;
}

#logo {
    margin-top: 120px;
    text-align: center;
}

#logo img {
    max-width: 50%;
    display: block;
    margin: 10px auto;
}

#logo span {
    color: #fff;
    font-size: 36px;
}

#checkbox {
    text-align: center;
    display: block;
    position: relative;
}

.btn-login {
    background-color: #007f39;
    border: none;
    color: #fff;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.form-control {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8e8f8e;
    border-radius: 0;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}

.checkbox {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logo-main {
    margin-top: 40px;
    text-align: center;
}

#logo-main img {
    max-width: 40%;
    display: block;
    margin: 10px auto;
}

#user img {
    max-width: 35%;
    display: block;
    margin: 25px auto;
    margin-bottom: 10px;
}

#user h1 {
    display: block;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

#user span {
    display: block;
    color: #007f39;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}


#content {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
#content img{
    width: 100%;
    display: block;
}

#content .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
#content .text .title {
    margin: 15px 0 20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
#content .text .title span {
    border-bottom: 1px solid #fff;
}
#content .text p {
    font-weight: 300;
    margin:0;
}
#content .text .day {
    font-size: 100px;
    line-height: 85px;
}
#content .text .month {
    font-size: 50px;
    line-height: 55px;
}
#content .text .year {
    font-size: 25px;
    line-height: 35px;
}

.status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 220px;
}
.status button {
    font-size: 20px;
    text-align: right;
    background: transparent;
    outline: none;
    border: none;
    padding: 20px;
}
.status select {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    font-size: 24px;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.status-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    color: #42fd4a;
    font-size: 30px;
}