body {
    background-color: #121518;
    font-family: "San Francisco";
    font-weight: 200;
    -webkit-overflow-scrolling: touch;
    color: #fff;
}

#image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 0;
}

.container {
    position: relative;
}

#logo {
    margin-top: 120px;
    text-align: center;
}

#logo img {
    max-width: 50%;
    display: block;
    margin: 10px auto;
}

#logo span {
    color: #fff;
    font-size: 36px;
}

#checkbox {
    text-align: center;
    display: block;
    position: relative;
}

.btn-login {
    background-color: #007f39;
    border: none;
    color: #fff;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.form-control {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8e8f8e;
    border-radius: 0;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}

.checkbox {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logo-main {
    margin-top: 40px;
    text-align: center;
}

#logo-main img {
    max-width: 40%;
    display: block;
    margin: 10px auto;
}

#user img {
    max-width: 32%;
    display: block;
    margin: 25px auto;
    margin-bottom: 10px;
    border-radius: 100%;
}

#user h1 {
    display: block;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

#user span {
    display: block;
    color: #007f39;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

#content {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#content img {
    width: 100%;
    display: block;
}

#content .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

#content .text .title {
    margin: 15px 0 20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

#content .text .title span {
    border-bottom: 1px solid #fff;
}

#content .text p {
    font-weight: 300;
    margin: 0;
}

#content .text .day {
    font-size: 100px;
    line-height: 85px;
}

#content .text .month {
    font-size: 50px;
    line-height: 55px;
}

#content .text .year {
    font-size: 25px;
    line-height: 35px;
}

.status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 220px;
}

.status button {
    font-size: 20px;
    text-align: right;
    background: transparent;
    outline: none;
    border: none;
    padding: 20px;
}

.status select {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    font-size: 24px;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.status-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    color: #42fd4a;
    font-size: 30px;
}

.red {
    color: #ff1b1b;
}


/* The navigation menu */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all ease 0.4s;
}
.sidenav.open {
    left: 0px;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 200px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 170px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.menubutton {
    position: absolute;
    width: 66px;
    height: 60px;
    padding: 20px;
    left: 0;
    top: 20px;
    z-index: 99;
}

.menubutton img {
    width: 100%;
    display: block;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    color: #313131;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content p {
    margin-top: 10px;
}


/* The Close Button */

.close {
    color: #313131;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#list .text {
    overflow-y: scroll;
    padding-left: 25px;
    height: 70vh;
}

#list ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style-type: decimal;
    font-size: 16px;
}

#list ul li {
    margin: 5px 0;
}

#list ul li .attendee {
    width: 60px;
    color: #42fd4a;
}

#list input {
    border: 0;
    color: #000;
    width: 100%;
    padding: 10px; 
}
#list .btn-success {
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

#list ul li .attendee.red {
    color: #ff1b1b;
}

#user h1.underline {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.amount-form {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.amount-form input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    outline: none;
    color: #000;
}

.amount-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    outline: none;
}

button {
    outline: none !important;
}


.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15623a;
    z-index: 1000;
    height: 100%;
    text-align: center;
}

#preloader #content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#preloader #content .logo img {
    margin: 0 auto;
}

#preloader #content .text {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 15px;
    margin: 20px 0 50px 0;
}

.loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.loader-quart {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (min-device-width: 340px) {
    .status {
        bottom: -20px;
    }
    #user img {
        max-width: 100px;
    }
    .status-text {
        padding: 7%;
    }
}

@media only screen and (min-device-width: 400px) {
    .status {
        bottom: -35px;
    }
}