<div ng-include="'src/nav/nav.html'"></div>
<div ng-controller="MainController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <img src="{{photo}}" alt="">
            <h1>{{firstname}}</h1>
            <span>{{position}}</span>
        </div>
        <div id="content">
            <div class="col-xs-12 text">
                <h2 class="title"><span>SIRADAKİ MAÇ TARİHİ</span></h2>
                <p class="day">{{matchday}}</p>
                <p class="month">{{matchmonth}}</p>
                <p class="year">{{matchyear}}</p>
                <div class="status">
                    <button>KATILIM DURUMU&nbsp;DEĞİŞTİR</button>
                    <select ng-model="selectedItem.type" ng-change="Attending()" required ng-options="option.value as option.value for option in typeOptions" name="status" id="status"></select>
                </div>
            </div>
            <div class="status-text" ng-class="{'red': selectedItem.type == 'KATILMIYORUM'}">{{selectedItem.type}}</div>
            <img src="assets/images/triangle.png" alt="">
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="close()">&times;</span>
            <p>{{matchattendee}}</p>
        </div>
    </div>
