<div ng-include="'src/nav/nav.html'"></div>
<div ng-controller="PastController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Geçmiş Maçlar</h1>
        </div>
        <div id="list">
            <div class="row datepicker" style="margin: 0;">
                <div class="col-xs-4" style="padding: 0 5px;">
                    <p>Tarih:</p>
                </div>
                <div class="col-xs-8" style="padding: 0 5px;">
                    <select>
                        <option value="01">30.05.2017</option>
                        <option value="02">23.05.2017</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 text" style="padding: 0 0 0 25px; height: 65vh;">
                <ul>
                    <li ng-repeat="attendance in attendanceList.ResultList | filter : IsAttending = true">
                        {{attendance.UserName}}
                        <span class="attendee pull-right">{{attendance.AttendanceStatus}}</span>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="attendance in attendanceList.ResultList | filter : IsAttending = false">
                        {{attendance.UserName}}
                        <span class="attendee red pull-right">{{attendance.AttendanceStatus}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="close()">&times;</span>
            <input type="number">
            <button ng-click="userAmount()"></button>
        </div>
    </div>
