<div ng-controller="CashController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a ng-click="Login()">Anasayfa</a>
            <a ng-click="Main()">Maça Katılanlar</a>
            <a ng-click="Cash()">Kasa</a>
            <a ng-click="LogOut()">Logout</a>
        </div>
        <div class="menubutton" onclick="openNav()"><img src="assets/images/menubutton.png">
        </div>
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Kasa</h1>
        </div>
        <div id="list">
        <input type="number" id="" ng-model="tutar" style="color: #000;">

            <table class="table">
                <thead>
                    <tr>
                        <th>Katılanlar</th>
                        <th>T.P.</th>
                        <th>T.B.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attendance in attendanceList.ResultList | filter : IsAttending = true">
                        <td>{{attendance.UserName}}</td>
                        <td>{{tutar / 14 | number}}</td>
                        <td style="color: #ff1b1b">0</td>
                </tbody>
            </table>
        </div>
    </div>
