<div ng-include="'src/_inc/nav.html'"></div>
<div ng-controller="CashController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Kasa</h1>
        </div>
        <div id="list">
            <div class="row" style="margin: 0;">
                <div class="col-xs-6" style="padding: 0 5px;">
                    <input type="number" pattern="[0-9]*" ng-model="person" ng-focus="focused=true" ng-blur="focused=false" placeholder="Kişi Başı Toplam">
                </div>
                <div class="col-xs-6" style="padding: 0 5px;">
                    <input type="number" pattern="[0-9]*" ng-model="all" ng-focus="focused=true" ng-blur="focused=false" placeholder="Sahaya Verilecek">
                </div>
                <div class="col-xs-12" style="padding: 0 5px;">
                    <button class="btn btn-success" ng-click="approve()">ONAYLA</button>
                </div>
            </div>
            <div class="text" style="padding: 0; height: 50vh; margin-top: 10px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Katılanlar</th>
                            <th>T.P.</th>
                            <th>V.P.</th>
                            <th>Bak.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attendance in payList">
                            <td>
                                <div ng-click="payButton(attendance.UserName, attendance.UserId)">{{attendance.UserName}}</div>
                            </td>
                            <td>{{personAmount}} TL</td>
                            <td style="color: #42fd4a">{{attendance.VerilenPara}} TL</td>
                            <td style="color: #ff1b1b">0 TL</td>
                    </tbody>
                </table>
            </div>
            <div ng-hide="focused" class="total" style="position: fixed; bottom: 0; width: 100%; margin: 0; left: 0; padding: 10px 20px; z-index: 99;">
                <h3 style="margin: 0;">TOPLAM: <span style="color: #42fd4a">{{total}} TL</span></h3>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="close()">&times;</span>
            <h4>Tutar Giriniz</h4>
            <div class="amount-form">
                <input type="number" pattern="[0-9]*" id="{{payUserId}}" class="amount-input" ng-model="payUser" focus-me="focusInput">
                <button class="btn btn-success" ng-click="userAmount(payUserId)" ng-disabled="payUser == ''">ALINDI</button>
            </div>
        </div>
    </div>
