<div ng-controller="JoinController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a ng-click="Login()">Anasayfa</a>
            <a ng-click="Main()">Maça Katılanlar</a>
            <a ng-click="LogOut()">Logout</a>
        </div>
        <div class="menubutton" onclick="openNav()"><img src="assets/images/menubutton.png">
        </div>
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Maça Katılanlar</h1>
        </div>
        <div id="list">
            <div class="col-xs-12 text">
                <ul>
                    <li>Halil Ergül <span class="attendee pull-right">Katılıyor</span></li>
                    <li>Umut Uysal<span class="attendee pull-right">Katılıyor</span></li>
                    <li>Gedizhan Gülesin<span class="attendee pull-right">Katılıyor</span></li>
                    <li>Ulvi Aksoy<span class="attendee pull-right">Katılıyor</span></li>
                    <li>İlker Nacaklı <span class="attendee pull-right">Katılıyor</span></li>
                    <li>Mahmut Özben <span class="attendee pull-right">Katılıyor</span></li>
                    <li>Furkan Kılıç <span class="attendee pull-right">Katılıyor</span></li>
                    <li>Serkan Yılmaz<span class="attendee pull-right">Katılıyor</span></li>
                    <li>Mustafa Tonkuş<span class="attendee pull-right">Katılıyor</span></li>
                    <li>Tayfun Sezer<span class="attendee pull-right">Katılıyor</span></li>
                    <ul>
                        <li>Ali Kemal Arslankeçecioğlu<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Serdar Güler<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                        <li>Kubilay Akyüz<span class="attendee pull-right red">Katılmıyor</span></li>
                    </ul>
            </div>
        </div>
    </div>
