<div ng-include="'src/_inc/nav.html'"></div>
<div ng-controller="JoinController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Maça Katılanlar</h1>
        </div>
        <div id="list">
            <div class="col-xs-12 text">
                <ul>
                    <li ng-repeat="attendance in attendanceList.ResultList | filter : IsAttending = true">
                        {{attendance.UserName}}
                        <span class="attendee pull-right">{{attendance.AttendanceStatus}}</span>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="attendance in attendanceList.ResultList | filter : IsAttending = false">
                        {{attendance.UserName}}
                        <span class="attendee red pull-right">{{attendance.AttendanceStatus}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
