<div ng-include="'src/_inc/nav.html'"></div>
<div ng-controller="DebtController">
    <div id="image">
        <img src="assets/images/main_bg.jpg" width="100%">
    </div>
    <div class="container">
        <div id="logo-main">
            <img src="assets/images/logo_white.png" alt="">
        </div>
        <div id="user">
            <h1 class="underline">Borç Harç</h1>
        </div>
        <div id="list">
            <div class="text" style="padding: 0;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Oyuncular</th>
                            <th>Bakiye</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attendance in attendanceList.ResultList">
                            <td>{{attendance.UserName}}</td>
                            <td style="color: #42fd4a">0 TL</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="close()">&times;</span>
            <input type="number">
            <button ng-click="userAmount()"></button>
        </div>
    </div>
